<div class="card my-2" style="width: 18rem;" *ngFor="let tarea of tareas">
  <!--<img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <h5 class="card-title">{{tarea.titulo}}</h5>
    <p class="card-text">{{ tarea.descripcion }}</p>
    <p>{{ tarea.terminado }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<!--<div class="card border-primary mb-3 my-4">
  <div class="card-header">Tareas</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Tareas</h5>
    <div class="alert alert-info" *ngIf="tareas?.length == 0">
        No hay registro en la base de datos
    </div>
    <table class="table table-bordered table-striped" *ngIf="tareas?.length > 0">
      <thead>
        <tr>
          <th>id</th>
          <th>Tutilo</th>
          <th>Descripción</th>
          <th>Terminado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of tareas">
          <td>{{ tarea.id }}</td>
          <td>{{ tarea.titulo }}</td>
          <td>{{ tarea.descripcion }}</td>
          <td>{{ tarea.terminado }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>-->
