<form>
  <div class="form-group row">
    <div class="card text-white bg-dark mb-3 my-2 border border-right-4" style="width: 18rem;" *ngFor="let tarea of tareas">
  <!--<img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <h5 class="card-title">{{tarea.titulo}}</h5>
    <p class="card-text">{{ tarea.descripcion }}</p>
    <p>{{ tarea.terminado }}</p>
    
    <a class="card card-footer" href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</form>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" name="button" (click)='create(tareas)'>
  Crear Tareas
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--<div class="card border-primary mb-3 my-4">
  <div class="card-header">Tareas</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Tareas</h5>
    <div class="alert alert-info" *ngIf="tareas?.length == 0">
        No hay registro en la base de datos
    </div>
    <table class="table table-bordered table-striped" *ngIf="tareas?.length > 0">
      <thead>
        <tr>
          <th>id</th>
          <th>Tutilo</th>
          <th>Descripción</th>
          <th>Terminado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of tareas">
          <td>{{ tarea.id }}</td>
          <td>{{ tarea.titulo }}</td>
          <td>{{ tarea.descripcion }}</td>
          <td>{{ tarea.terminado }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>-->
